 @import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
 :root{
    --color01:#F2A0C6;
    --color02:#F257AC;
    --color03:#6863F2;
    --color04:#9794F2;
    --color05:#77D9BD;
}
*{

    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    font-size: 3.5vw;
    line-height: 1.5;
    background-color: var(--color01);
    color: black;
    font-family: 'google sans code', serif;    
}
body{
    font-family: 'google sans code', serif;
    background-color: var(--color01);
    height: 100vh;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#myself img{
    border-radius:40% ;
    border-width: 4px;
    box-shadow: 2px 2px 2px rgba(254, 255, 253, 0.214);
    max-width: 100%;
    display: block;
    max-height: 150px;
    min-width: 150px;
    text-align: center;
    margin: auto;
    padding: 2px;
    
    
}h1, h2, h3, h4, h5, h6{
    font-family: 'google sans code', serif;
    color: var(--color02);
    text-shadow: black 1px 1px 2px;
    font-weight: 600;
}
p{
    font-family: 'google sans code', serif;
    color: black;
    font-weight: 300;
    line-height: 1.6;
    font-size: 3.5w;
    margin: 0;
    text-indent: 20px;
}
header{
    text-align: center;
    background-image: linear-gradient(45deg, #ff8c9d47, #f2387c);
    box-shadow: 0 0 1px rgba(0, 0, 0.5);
    display: block;
    position: fixed;  
    width: 100%;
    z-index: 10; /* Ensure header/nav is above .certificado */
}
header > span{
    display: inline-block;
    width: 100%;
    height: 60px;
    padding: 20px 0 10px 0;
    font-weight: 700;
    margin: 0;
    background-image: url('pictures/LOGO.png');
    background-size: cover;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
header > a{
    padding-top: 20px;
}
.material-symbols-outlined {
    font-size: 3.5vh;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 0.3s ease;
    z-index: 1001;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;       
    text-decoration: none;
}
header >#itens {
    font-family: 'google sans code', serif;
    position: fixed;
    text-decoration: none;
    padding: 2px 2px;
    background-color: white;
    border-radius: 5px;    
    display: none;
    top: 45px;
    right: 20px;
    z-index: 1000;
    width: 80px;
    height: auto;
  }
#itens a {
    color: rgb(0, 0, 0);
    font-family: 'google sans code', serif;
    text-align: center;
    display: block;
    padding: 4px 0px;
    text-decoration: none;
    margin: 0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    border-bottom: 1px solid  rgb(0, 0, 0);
    font-size: 2vw;
    font-weight: 01;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#itens a:last-child {
    border-bottom: none;
}
nav a:hover {
    background-color: var(--color03);
    color: white;
    text-decoration: underline;
}
main{
    max-width: 1200px;
    margin-top: 0px;
    padding: 0 20px;
    font-family: 'google sans code', serif;
    color: black;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0.5);
}
#myself{
    text-align: center;
    background-color: rgba(233, 87, 119, 0.478);
    color: black;
    font-family: 'google sans code', serif;
    font-weight: 200;
    font-size: 2vh;    
    box-shadow: 0 0 3px rgba(0, 0, 0.5);
    display: block;
    padding-top: 90px;

}
#myself h2{
    color:white;
    text-shadow: black 1px 1px 2px;
    font-size: 5vw;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
#myself p{
    line-height: 1.6;
    text-align: justify;
    max-width: 500px;
    margin: auto;
    padding: 0 20px 20px 20px;
    font-size: 3vw;
}
#about{
    text-align: center;
    background-color: white;
    font-family: 'google sans code', serif;
    box-shadow: 0 0 3px rgba(0, 0, 0.5);
    padding: 10px 20px 20px 20px;
    }
#about h3{
    color: white;
    text-shadow: black 1px 1px 2px;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 5vw;
    margin-bottom: 10px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 40px;
    background-image: linear-gradient(45deg, #ff8c9d47, #f2387c );
    width: max-content;
    padding: 0 20px;
    height: max-content;
    left: 50%;
    top: 0;
    transform: translateX(-100px);
    position: relative;
}
#about img{
    border-radius: 40%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.214);
    max-width: 100%;
    display: block;
    max-height: 200px;
    min-width: 200px;
    text-align: center;
    margin: auto;
    padding: 2px;
    margin-bottom: 20px;
    margin-top: 40px;
}
#about p{
    line-height: 2;
    text-align: justify;
    max-width: 500px;
    margin: auto;
    padding: 0 20px 0 20px;
    font-size: 3vw;
}
#whatido{
    text-align: center;
    background-color: rgba(233, 87, 119, 0.478);
    color: white;
    font-family: 'google sans code', serif;
    text-shadow: black 1px 1px 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0.5);
    padding-bottom: 20px;
}
#whatido h3{
    color: white;
    text-shadow: black 1px 1px 2px;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 5vw;
    margin-bottom: 10px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 40px;
    background-image: linear-gradient(45deg, #ff8c9d47, #f2387c );
    width: max-content;
    padding: 0 20px;
    height: max-content;
    left: 50%;
    top: 0;
    transform: translateX(-100px);
    position: relative; 
}
.box{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    justify-content: center;
    position: relative;
    }
.boxitem{
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin-bottom: 16px;
    position: fixed;
}
.box > div{
    background-color: var(--color04);
    color: white;
    font-family: 'google sans code', serif;
    font-weight: 300;
    text-shadow: black 1px 1px 2px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(252, 252, 252, 0.5);
    max-width: 300px;
    min-height: 100px;
    max-height: 150px;
    height: 110px;
    width: 150px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;
    align-content: center;
    font-size: 2vw;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;  
}
.box > div:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: background-color 0.3s ease;
    z-index: -1;
}
.box > div:hover{
    transform: scale(1.1);
    background-color: var(--color04);
    color: white;
    text-shadow: black 1px 1px 2px;
    display: block;
}
.box > div>p{
    line-height: 1.2;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-size: 2vw;
    font-weight: 400;
    text-shadow: black 1px 1px 2px;    
    display: none;
}
.box > div:hover > p{
    display: block;
    color: white;
}
.box > #brow{
    background-image: url('pictures/eyebrow/brow3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 3px rgba(252, 252, 252, 0.5);
    left: 0;
}
.box > #eyelash{
    background-image: url('pictures/lash/ex1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: fit-content;
    height: 150px;
    width: 120px;
    box-shadow: 0 0 3px rgba(252, 252, 252, 0.5);
    }
.box > #lashlift{
    background-image: url('pictures/lashlift/lash5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: fit-content;
    height: 180px;
    width: 200px;
    box-shadow: 0 0 3px rgba(252, 252, 252, 0.5);

}
.box > #eyebrowmicroblading{
    background-image: url('pictures/micro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 3px rgba(252, 252, 252, 0.5);
    height: 97px;
}
.box > #lips{
    background-image: url('pictures/lips/lips.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 3px rgba(252, 252, 252, 0.5);
    height: 90px;
    width: 120px;
}
#formation{
    text-align:center;
    position: relative;
    color: black;
    font-family: 'google sans code', serif;
    box-shadow: 0 0 3px rgba(0, 0, 0.5);
    font-weight: 100;
    padding: 10px 20px;
    max-width: 100%;
    height: 500px;
    font-style: normal;
    line-height: 2;
    background-image: url(pictures/ripado.webp);
    background-size: contain;
    display: flex;
    justify-content: space-between;
}
.certificado {
    position: absolute;
    height: 110px;
    width: 150px;
    background-color: #6863F2;
    background-image: url(pictures/certificate1.png);
    background-position: center;
    background-size: 130%;
    border: #fbfbfb solid 1px;
    z-index: 1; /* Lower than nav/header */
    margin-top: 90px;
}

.certificado:hover{
    transform: scale(1.1);
    background-color: var(--color04);
    color: white;
    text-shadow: black 1px 1px 2px;
    display: block;
    cursor: pointer;
}
#cert1{
    
    top: 15%;

}
#cert2{
    top: 15%;
    left: 50%;
}
#cert3{
    top: 50%;
}
#cert4{
    left: 50%;
    top: 50%;
}
#formation ul{
    padding: 5px;
    border: solid black 2px;
    border-radius: 6%;
}
#formation p {
    text-align: left;
    margin-left: 0;
}
#formation h3{
    color: white;
    text-shadow: black 1px 1px 2px;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 5vw;
    margin-bottom: 10px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 40px;
    background-image: linear-gradient(45deg, #ff8c9d47, #f2387c );
    width: max-content;
    padding: 0 20px;
    height: max-content;
    left: 50%;
    top: 0;
    transform: translateX(-100px);
    position: relative;
    }
    a{
        color: var(--color05);
        text-decoration: none;
        font-family: 'google sans code', serif;
        font-weight: 600;
        text-shadow: black 1px 1px 2px;
        transition: color 0.3s ease;

    }
    .emoji li ::before{
        display: inline-block;
        margin: 0 10px;
        padding: 10px;
        text-align: center;
        content: "💬";
    }
    .emoji{
        list-style: none;
        padding: 0;
        justify-content: center;
    }
#contact{
    text-align: center;
    color: black;
    font-family: 'google sans code', serif;
    box-shadow: 0 0 3px rgba(0, 0, 0.5);
    font-weight: 100;
    padding: 20px;
    border: solid 10px rgba(0, 0, 0, 0.2);
}
#contact h3{
    color: white;
    text-shadow: black 1px 1px 2px;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 5vw;
    margin-bottom: 10px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 40px;
    background-image: linear-gradient(45deg, #ff8c9d47, #f2387c );
    width: max-content;
    margin: auto;
    padding: 0 20px;
}
#contact p{
    line-height: 1.4;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-size: 1em;
    font-weight: 100;
    font-size: small;
}
#contact a{
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    padding: 0 10px;
}
.fa{
    margin-top: 80px;
    color: var(--color03);
    font-size: 4vw;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
}
footer {
    text-align: center;
    padding: 3px;
    margin-top: 0px;
    background-color: var(--color02);
    color: white;
    font-family: 'google sans code', serif;
    font-weight: 300;
    font-size: 2vw;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s ease-out;
    opacity: 0;
}
.fade-in.show {
    opacity: 1;
    transform: translateY(0);

}
#yt{
    color: red;
    width: 40px;
}
#insta{
    background: linear-gradient(45deg,
    #FFD600 0%,
    #FF7A00 25%,
    #FF0069 50%,
    #D300C5 75%,
    #7638FA 100%);
    color: white;
    border-radius: 10px;
    width: 40px;
}
#whats{
    color: white;
    background-color: rgb(6, 193, 6);
    width: 40px;
    border-radius: 10px;
}
#overlay {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: opacity 0.5s ease;
      pointer-events: none;
      z-index: 1000;
    }
#imageContainer {
      
      height: 100%;
      position: relative;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1001;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-height: max-content;
      width: 320px;
    }
#imageContainer img {
      flex: 0 0 50%;
      box-sizing: border-box;     
      opacity: 0;
      transition: opacity 1s ease;
      padding: 10px;
      border-radius: 15%;
      width: 150px;
      height: auto;
      object-fit: contain;
      
    }
@media(max-width:600px){
    .certificado{
        margin-top: 0;
        
        
    }
    #formation{
        height: 700px;
    }
    #cert3{
        top: 40%;
        height: 80px;
        width: 110px;
    }
    #cert4{
        top: 40%;
    }
    .certificado {
        height: 80px !important;
        width: 110px !important;
        background-size: 110% !important;
    }
        
    }


